<div class="container mt-5">
    <h3>Datos de Productos</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre Producto</th>
          <th>Descripción Producto</th>
          <th>Precio Producto</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Escoba</td>
          <td>Escoba de cerdas duraderas para barrer el suelo</td>
          <td>$20000</td>
          <td>Herramienta de limpieza</td>
        </tr>
        <tr>
          <td>Guantes de Jardinería</td>
          <td>Guantes resistentes al agua para trabajar en el jardín</td>
          <td>$10000</td>
          <td>Accesorio de jardinería</td>
        </tr>
        <tr>
          <td>Cuaderno A4</td>
          <td>Cuaderno de tamaño A4 con tapas duras y 100 hojas</td>
          <td>$8000</td>
          <td>Papelería</td>
        </tr>
        <tr>
          <td>Regadera</td>
          <td>Regadera de plástico con capacidad de 2 litros</td>
          <td>$12000</td>
          <td>Accesorio de jardinería</td>
        </tr>
        <tr>
          <td>Plumones de Colores</td>
          <td>Set de 12 plumones de colores variados</td>
          <td>$6000</td>
          <td>Papelería</td>
        </tr>
        <tr>
          <td>Trapeador</td>
          <td>Trapeador con mango de acero inoxidable y paño lavable</td>
          <td>$18000</td>
          <td>Herramienta de limpieza</td>
        </tr>
      </tbody>
    </table>
  </div>
