<header class="color navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Aplicación de Productos</a>
  <div class="collapse navbar-collapse">
    <ul class="  navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="inicio">Inicio</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  routerLink="/aproductos" >Productos</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/usuarios">Usuarios</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/MostrarUsuarios">Mostrar Usuarios</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/MostrarProducto">Mostrar Producto</a>
      </li>

    </ul>
  </div>
</header>

<main class="container mt-4">
  <section class="jumbotron text-center bg-light p-4">
    <div class="container">
      <h1 class="display-4">Bienvenido </h1>
      <p class="lead">Esta aplicación te permite gestionar y visualizar productos de manera sencilla y eficiente. Explora nuestras funcionalidades y descubre cómo podemos ayudarte a optimizar tu gestión de productos.</p>

    </div>
  </section>

  <router-outlet></router-outlet>
  <!-- Sección Informativa -->
  <section class="jumbotron text-center bg-light p-4">
    <div class="container">
     
      <p>Puedes comenzar navegando por diferentes secciones usando el menú superior.</p>
   
    </div>
  </section>

 
</main>
