<div class="container mt-5">
  <h3>Datos de usuarios anteriores</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre Completo</th>
        <th>Correo Electrónico</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Usuario 1</td>
        <td>usuario1@gmail.com</td>
        <td>Administrador</td>
      </tr>
      <tr>
        <td>Usuario 2</td>
        <td>usuario2@gmail.com</td>
        <td>Moderador</td>
      </tr>
      <tr>
        <td>Usuario 3</td>
        <td>usuario3@gmail.com</td>
        <td>Usuario</td>
      </tr>
    </tbody>
  </table>

  <h3>Datos del Usuario Registrado</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre Completo</th>
        <th>Correo Electrónico</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ nombre }}</td>
        <td>{{ email }}</td>
        <td>{{ rol }}</td>
      </tr>
    </tbody>
  </table>
</div>
