
html, body {
    height: 100%; 
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    font-family: Arial, Helvetica, sans-serif; /* Fuente para todo el contenido */
    text-align: center; /* Centra el texto dentro del contenedor */
}

div {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:#d6eaf8; 
}
